<%- include('./components/head.ejs') %>
<main>
    <section>
        <%- include('./components/leaderboard.ejs') %>
        <%- include('./components/game.ejs') %>
    </section>
<%- include('./components/chat.ejs') %>
</main>
<%- include('./components/footer.ejs') %>
